.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@font-face {
	font-family:'comic book';
	src: url('../fonts/Comic Book.otf');
}

@font-face {
	font-family:'comic book bold';
	src: url('../fonts/Comic Book Bold.otf');
}

body{
	background-color:#3E3E3E;
}

.main {
	background-image:url('../images/book.jpg');
	width:69.6em;
	height:49.4em;
	text-align:center;
	margin: 3em auto;
	padding:2em 2em 0;
	font-family:'comic book';
	font-weight:normal;
	border-radius:8px;
}

.page-one,
.page-two {
	width:32.5em;
	padding-top:.5em;
	padding-left:1em;
	float:left;
	padding-bottom:1em;
	position:relative;
}

.page-two {
	padding-top:4em;
}

.panel {
	width:14.5em;
	position:relative;
	padding:.5em 2em;
	margin: 1em .5em;
	height:10em;
	float:left;
	border:1px solid black;
}

.panel-long {
	width:30em;
	position:relative;
	padding:.5em 2em;
	margin:1em .5em 3em;
	height:10em;
	float:left;
	border:1px solid black;
}

.question{
	height:4em;
}

h1 {
	font-family:'Marvel', sans-serif;
	font-weight:bold;
	font-size:2.5em;
	width:3.5em;
	margin:0 auto;
	background-color:#E90909;
	color:#FFFFFF;
}

h2 {
	font-family:'comic book', sans-serif;
	font-size:2em;
	margin-top:0;
}

.comic,
.comic-long {
	position:absolute;
	height:10em;
	top:-1px;
	left:-1px;
	z-index:10;
}

.comic {
	width:14.5em;
}

.comic-long {
	width:30em;
}

.a-button,
.f-button,
.restart {
	border:1px solid black;
	background:rgba(0,0,0,0);
	border-radius:5px;
	height:4em;
	width:18em;
	margin-top: 1em;
}

.a-button:hover,
.f-button:hover,
.restart:hover {
	background:#C7C7C7;
}

.f-area{
	position:absolute;
	top:8em;
	left:1em;
	width:31.5em;
	height:29.5em;
	z-index:10;
}

.hidden {
	display:none;
}

.f-button,
.restart {
	margin-top:3em;
}

.page-num {
	position:absolute;
	top:40em;
	left:16em;
}






	/*bp images*/
.money-back {
	background-image:url("../images/bp-back.jpg");
}

.bp-c {
	background-image:url("../images/bp-c.jpg");
}

.bp-ic {
	background-image:url("../images/bp-ic.jpg");

}

	/*gotg images*/
.gotg-back{
	background-image:url("../images/gotg-back.jpg");
}

.gotg-c {	
	background-image:url("../images/gotg-c.jpg");
}

.gotg-ic {
	background-image:url("../images/gotg-ic.jpg");
}

	/*cap images*/
.cap-back {
	background-image:url("../images/cap-back.jpg");
}

.cap-c {
	background-image:url("../images/cap-c.jpg");
}

.cap-ic {
	background-image:url("../images/cap-ic.jpg");
}

	/*doom images*/
.doom-back {
	background-image:url("../images/doom-back.jpg");
}

.doom-c {
	background-image:url("../images/doom-c.jpg");
}

.doom-ic {
	background-image:url("../images/doom-ic.jpg");
}

	/*dd images*/
.dd-back {
	background-image:url("../images/dd-back.jpg");
}

.dd-c {
	background-image:url("../images/dd-c.jpg");
}

.dd-ic {
	background-image:url("../images/dd-ic.jpg");
}